@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Vibur&family=Rancho&family=Just+Another+Hand&display=swap');

:root {
    /* Colors */
    --col-white: #f5f3ff;
    --col-grey: #cbdcd5;
    --col-black: #474545;

    --col-accent-dark: #7c3aed;
    --col-accent-medium: #a78bfa;
    --col-accent-light: #ddd6fe;

    --col-bg: var(--col-white); /*#173f57 = rgb(23,63,87)*/

    --col-txt: var(--col-black);
    --col-txt-alt: var(--col-white);
    --col-highlight: var(--col-accent-dark);

    --col-btn: var(--col-accent-dark);
    --col-btn-hover: var(--col-grey);
    --col-btn-txt: var(--col-white);
    --col-btn-txt-hover: var(--col-white);

    --col-em: var(--col-accent-light);
    --col-link: var(--col-accent-light);
    --col-link-hover: var(--col-accent-dark);

    /*#bb8963;*/
    --col-shadow: var(--col-black);

    /* Font sizes */
    --txt-fontsize: 18px;
    --smaller-txt-fontsize: 0.85rem;
    --h1-fontsize: 2rem;
    --h2-fontsize: 1.1rem;
    --lbl-fontsize: 0.75rem;
    --btn-fontsize: 1.05rem;
    --cite-fontsize: 0.5rem;
    --txt-lineheight: 1.2;
    --h1-lineheight: auto;

    --header-fontsize: 1rem;

    /* Font family */
    --main-font: 'Montserrat', sans-serif;

    /* Maximum width (including margin) */
    --dashboard-max-width: min(1440px, 100%);

    /*Margins and paddings*/
    --dashboard-margin: 20px;
    --dashboard-gap: 5px;
    --header-padding: 10px;
    --header-gap: 20px;

    --h1-margin-top: 15vh;
    --h1-padding: 60px 20px;
    --h1-gap: 10px;
    --cite-padding: 8px;

    --radius: 10px;   

    --main-project-description-max-lines: 6;
    --main-announcements-description-max-lines: 3;

    /* Header */
    --hello-greetings-fontsize: 0.7rem;
    --hello-myinfo-fontsize:    1.5rem;
    --hello-avatar-icon-len:    4rem;
    --hello-myusername-fontsize: 0.8em;
    --hello-row-gap:             0px;

    /* Branding */
    --branding-fontsize: 1.8rem;
    --branding-part1-font-family: 'Vibur', serif;
    --branding-part2-font-family: 'Rancho', sans-serif;
    --branding-part3-font-family: 'Just Another Hand', sans-serif;
    --branding-part1-color: var(--col-white);
    --branding-part2-color: var(--col-accent-medium);
    --branding-part3-color: var(--col-accent-light);    

    /* Nav */
    --nav-padding:                      15px;
    --nav-gap:                          10px;
    --nav-navigation-itm-padding:       2px 6px; 
    --nav-navigation-gap:               2px;
    --nav-navigation-itm-gap:           10px;
    --nav-navigation-icon-len:          1.5rem; 
    --nav-navigation-fontsize:          0.7rem;
    --nav-navigation-icon-tablet-min-len: calc(4*var(--nav-navigation-fontsize)); 

    --nav-col-bg:                       var(--col-black);
    --nav-navigation-txt-col:           var(--col-accent-light);
    --nav-navigation-icon-col:          var(--col-txt-alt);
    --nav-navigation-icon-col-hover:    var(--col-accent-dark);
    --nav-navigation-txt-col-hover:     var(--col-black);
    --nav-navigation-bg-col-hover:      var(--col-white);

    /* Main */
    --main-bg-color:                     var(--col-accent-light);
    --main-padding:                      15px;
    --main-gap:                          26px;
    --main-h2-fontsize:                  1.2rem;
    --main-child-hdr-gap:                8px;
    --main-box-bg-color:                 var(--col-white);
    --main-box-padding:                  6px;

    --main-list-gap:                     6px;
    --main-item-padding:                 8px 6px;
    --main-item-gap:                     5px 10px;

    --main-projects-gap:                  16px;
    --main-project-image-gap:             20px;
    --main-project-actions-extra-gap-top: 10px;
    --main-project-actions-gap:           5px;
    --main-project-image-width:           5%;
    --main-project-hover-image-width:     25%;

    --main-box-project-max-width: 300px;


    --project-title-color:              var(--col-txt);
    --project-title-fontsize:           1.1rem;
    --project-description-name-color:   var(--col-txt);
    --project-title-hover-color:        var(--col-highlight);
    --project-description-name-fontsize:0.8rem;

    --trending-item-hover-color:         white;
    --trending-avatar-icon-len:          2.2rem;;
    --trending-username-fontsize:        0.7rem;
    --trending-project-name-fontsize:    0.9rem;
    --trending-username-color:           var(--col-black);
    --trending-project-name-color:       var(--col-black);
    --trending-username-hover-color:     var(--col-accent-dark);
    --trending-project-name-hover-color: var(--col-black); 



    /* Shadows */
    --outset-shadow: 2px 2px 8px var(--col-accent-medium);
    --outset-shadow-btn-active: 2px 2px 5px var(--col-accent-medium);
    --inset-shadow: 2px 2px 2px var(--col-accent-light) inset;

    /*Buttons*/

    --btn-padding: min(10px, 2vw) 20px;
    --btn-right-margin: 30px;

    /* Animations on hover / focus / ...*/
    --offset-translate-hover: -3px;
    --scale-translate-hover: 1.05;
    --time-transition-hover: 0.2s;
    --scale-translate-a-hover: 1.2;
}


html {
    background-color: white;
    color: var(--col-txt);
    font-family: var(--main-font), sans-serif;
    font-weight: 400;
    font-size: var(--txt-fontsize);
    line-height: var(--txt-lineheight);
}

* {
    font-family: inherit;
    line-height: inherit;
    color: inherit;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0 auto;
    height: 100vh;
    /*it is assumed the same for <html>*/
    width: 100%;
    /* or max-width -- this avoids horizontal scroll bars */
}

/*****************************************************/

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* General */

ul{
    list-style: none;    
}

/* || Dashboard (general structure) */

.dashboard-container{
    flex: 1;
    width: 100%;
    max-width: var(--dashboard-max-width);
    padding: var(--dashboard-margin);
}

.dashboard{
    height: 100%;
    width: 100%;
    border-radius: var(--radius);
    overflow: hidden;

    display: grid;
    gap: var(--dashboard-gap);
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content 1fr;
    grid-template-areas: 
        'nav'
        'header'
        'main';
}

@media only screen and (min-width: 768px) {


}

@media only screen and (min-width: 1024px) {
    .dashboard{
        grid-template-columns: max-content 1fr;
        grid-template-rows: max-content 1fr;

        grid-template-areas: 
            'nav header'
            'nav main'
    }
}

/* || Header */

header{
    grid-area: header;
    background-color: var(--col-white);
    padding: var(--header-padding);
    display: grid;
    grid-template-areas: 
        'actions1'
        'hello'
        'actions2';
    gap: var(--header-gap);
}


@media only screen and (min-width: 768px) {


}

@media only screen and (min-width: 1024px) {
    header{
        grid-area: header;
        background-color: var(--col-white);
        padding: var(--header-padding);
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas: 
            'actions1 actions1'
            'hello actions2';
    }
}

.header-actions-1{
    grid-area: actions1;
    font-size: var(--header-fontsize);
    background-color:red;
}

/***************/

.header-hello{
    grid-area: hello;
    /* background-color:green; */
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
        'avatar greetings'
        'avatar myinfo';
    row-gap: var(--hello-row-gap) !important; /*override main-item  gap*/
}

.header-hello .greetings{
    grid-area: greetings;
    font-size: var(--hello-greetings-fontsize);
    align-self: end;
}

.header-hello .myinfo{
    grid-area: myinfo;
    font-size: var(--hello-myinfo-fontsize);
    align-self: start;
}

.header-hello .myinfo .myname{
    font-weight: bold;
}

.myusername{
    font-size: var(--hello-myusername-fontsize);
    font-style: italic;
}

.header-hello::before{
    grid-area: avatar;
    display: inline-block;
    content:"";
    width: var(--hello-avatar-icon-len); 
    height: var(--hello-avatar-icon-len); 
    background-size: var(--hello-avatar-icon-len) var(--hello-avatar-icon-len);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/avatar.svg);
}

/************/

.header-actions-2{
    grid-area: actions2;
    /* background-color:blue; */
}

.header-actions-2 .main-item.actions{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: end;
}

.header-actions-2 .main-item.actions li{
    width: 100%;
}

.header-actions-2 button{
    background-color: var(--col-accent-dark);
    color: var(--col-txt-alt);
    box-shadow: var(--outset-shadow);
    border: none;
    width: 100%;
    font-size: var(--header-fontsize);
}

.header-actions-2 button:hover{
    background-color: var(--col-accent-light);
    color: var(--col-txt);
    font-weight: bold;
    border: none;
}

.header-actions-2 button:active{
    border: none;
    box-shadow: var(--outset-shadow-btn-active);
}

/* || Nav (Sidebar) */

nav{
    grid-area: nav;
    padding: var(--nav-padding);
    display: flex;
    flex-direction: column;
    gap: var(--nav-gap);
    background-color: var(--nav-col-bg);
}

/*---------------*/

a.branding{
    text-align: center;
    font-size: var(--branding-fontsize);
}

a.branding,
a.branding:hover,
a.branding:hover,
a.branding:active,
a.branding:visited{
    text-decoration: none;
}

.branding-part1{
    font-family: var(--branding-part1-font-family);
    font-weight: normal;
    color: var(--branding-part1-color); 
}

.branding-part2{
    font-family: var(--branding-part2-font-family);    
    font-weight: bolder;
    color: var(--branding-part2-color);
}

.branding-part3{
    font-family: var(--branding-part3-font-family); 
    font-weight: normal;
    color: var(--branding-part3-color);
}

@media only screen and (min-width: 1024px) {
    a.branding{
        text-align: left;
    }

    .header-actions-2 .main-item.actions{
        margin-top: 0;
    }
}

/*---------------*/

hr{
    background-color: var(--col-accent-light);
    width: 95%;
    height: 1px;
    border-width:0;
    margin: 0 auto;
    border-radius: var(--radius);
}



.main-project .title,
.main-project .description,
.main-announcements-item .description{
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.main-project .title{
    -webkit-line-clamp: 1;
    line-clamp: 1;
}

.main-project .description{
    -webkit-line-clamp: var(--main-project-description-max-lines);
    line-clamp: var(--main-project-description-max-lines);
    /* Show empty lines if the text does not span the maximum number of lines*/
    min-height: calc(calc(1em*var(--txt-lineheight))*var(--main-project-description-max-lines));
}

.main-announcements-item .description{
    -webkit-line-clamp: 3;
    line-clamp: 3;
}

/*---------------*/

ul.navigation{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--nav-navigation-gap);
    font-size: var(--nav-navigation-fontsize);
    color: var(--nav-navigation-txt-col);
}

.nav-itm{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--nav-navigation-itm-gap);
    font-size: var(--nav-navigation-fontsize);
    border-radius: var(--radius);
    padding: var(--nav-navigation-itm-padding);
}

.nav-itm::before{
    display: inline-block;
    content:"";
    width: var(--nav-navigation-icon-len); 
    height: var(--nav-navigation-icon-len); 
    background-size: var(--nav-navigation-icon-len) var(--nav-navigation-icon-len);
    background-color: var(--nav-navigation-icon-col);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
}

.nav-itm span{
    width: 100%;
}

.nav-sep{
    flex: 1;
}

.nav-itm:hover,
.nav-itm:focus{
    background-color: var(--nav-navigation-bg-col-hover);
    color: var(--nav-navigation-txt-col-hover);
    font-weight: bold;
}
.nav-itm:hover::before,
.nav-itm:focus::before{
    background-color: var(--nav-navigation-icon-col-hover);
}


/* Tablet only*/
@media only screen and (min-width: 768px) and (max-width: 1023px){
    ul.navigation{
        flex-direction: row;
    }

    .nav-itm{
        flex-direction: column;
    }

    .nav-itm::before{
        min-width: var(--nav-navigation-icon-tablet-min-len);
    }
    
    .nav-itm span{
        text-align: center;
    }
}

#nav-home::before{
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>home</title><path d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z" /></svg>');
}

#nav-profile::before{
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>card-account-details-outline</title><path d="M22,3H2C0.91,3.04 0.04,3.91 0,5V19C0.04,20.09 0.91,20.96 2,21H22C23.09,20.96 23.96,20.09 24,19V5C23.96,3.91 23.09,3.04 22,3M22,19H2V5H22V19M14,17V15.75C14,14.09 10.66,13.25 9,13.25C7.34,13.25 4,14.09 4,15.75V17H14M9,7A2.5,2.5 0 0,0 6.5,9.5A2.5,2.5 0 0,0 9,12A2.5,2.5 0 0,0 11.5,9.5A2.5,2.5 0 0,0 9,7M14,7V8H20V7H14M14,9V10H20V9H14M14,11V12H18V11H14" /></svg>');
}

#nav-messages::before{
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>message-text</title><path d="M20,2H4A2,2 0 0,0 2,4V22L6,18H20A2,2 0 0,0 22,16V4A2,2 0 0,0 20,2M6,9H18V11H6M14,14H6V12H14M18,8H6V6H18" /></svg>');
}

#nav-history::before{
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>history</title><path d="M13.5,8H12V13L16.28,15.54L17,14.33L13.5,12.25V8M13,3A9,9 0 0,0 4,12H1L4.96,16.03L9,12H6A7,7 0 0,1 13,5A7,7 0 0,1 20,12A7,7 0 0,1 13,19C11.07,19 9.32,18.21 8.06,16.94L6.64,18.36C8.27,20 10.5,21 13,21A9,9 0 0,0 22,12A9,9 0 0,0 13,3" /></svg>');
}

#nav-tasks::before{
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>checkbox-marked-circle-auto-outline</title><path d="M12 22C12.8 22 13.6 21.9 14.3 21.7C13.9 21.2 13.5 20.6 13.3 19.9C12.9 20 12.4 20 12 20C7.6 20 4 16.4 4 12C4 7.6 7.6 4 12 4C12.8 4 13.5 4.1 14.2 4.3L15.8 2.7C14.6 2.3 13.3 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22M6.5 11.5L7.9 10.1L11 13.2L19.6 4.6L21 6L11 16L6.5 11.5M19 14L17.74 16.75L15 18L17.74 19.26L19 22L20.25 19.26L23 18L20.25 16.75L19 14Z" /></svg>');
}

#nav-communities::before{
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>account-group</title><path d="M12,5.5A3.5,3.5 0 0,1 15.5,9A3.5,3.5 0 0,1 12,12.5A3.5,3.5 0 0,1 8.5,9A3.5,3.5 0 0,1 12,5.5M5,8C5.56,8 6.08,8.15 6.53,8.42C6.38,9.85 6.8,11.27 7.66,12.38C7.16,13.34 6.16,14 5,14A3,3 0 0,1 2,11A3,3 0 0,1 5,8M19,8A3,3 0 0,1 22,11A3,3 0 0,1 19,14C17.84,14 16.84,13.34 16.34,12.38C17.2,11.27 17.62,9.85 17.47,8.42C17.92,8.15 18.44,8 19,8M5.5,18.25C5.5,16.18 8.41,14.5 12,14.5C15.59,14.5 18.5,16.18 18.5,18.25V20H5.5V18.25M0,20V18.5C0,17.11 1.89,15.94 4.45,15.6C3.86,16.28 3.5,17.22 3.5,18.25V20H0M24,20H20.5V18.25C20.5,17.22 20.14,16.28 19.55,15.6C22.11,15.94 24,17.11 24,18.5V20Z" /></svg>');
}

#nav-settings::before{
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>cog</title><path d="M12,15.5A3.5,3.5 0 0,1 8.5,12A3.5,3.5 0 0,1 12,8.5A3.5,3.5 0 0,1 15.5,12A3.5,3.5 0 0,1 12,15.5M19.43,12.97C19.47,12.65 19.5,12.33 19.5,12C19.5,11.67 19.47,11.34 19.43,11L21.54,9.37C21.73,9.22 21.78,8.95 21.66,8.73L19.66,5.27C19.54,5.05 19.27,4.96 19.05,5.05L16.56,6.05C16.04,5.66 15.5,5.32 14.87,5.07L14.5,2.42C14.46,2.18 14.25,2 14,2H10C9.75,2 9.54,2.18 9.5,2.42L9.13,5.07C8.5,5.32 7.96,5.66 7.44,6.05L4.95,5.05C4.73,4.96 4.46,5.05 4.34,5.27L2.34,8.73C2.21,8.95 2.27,9.22 2.46,9.37L4.57,11C4.53,11.34 4.5,11.67 4.5,12C4.5,12.33 4.53,12.65 4.57,12.97L2.46,14.63C2.27,14.78 2.21,15.05 2.34,15.27L4.34,18.73C4.46,18.95 4.73,19.03 4.95,18.95L7.44,17.94C7.96,18.34 8.5,18.68 9.13,18.93L9.5,21.58C9.54,21.82 9.75,22 10,22H14C14.25,22 14.46,21.82 14.5,21.58L14.87,18.93C15.5,18.67 16.04,18.34 16.56,17.94L19.05,18.95C19.27,19.03 19.54,18.95 19.66,18.73L21.66,15.27C21.78,15.05 21.73,14.78 21.54,14.63L19.43,12.97Z" /></svg>');
}

#nav-support::before{
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>help-circle</title><path d="M15.07,11.25L14.17,12.17C13.45,12.89 13,13.5 13,15H11V14.5C11,13.39 11.45,12.39 12.17,11.67L13.41,10.41C13.78,10.05 14,9.55 14,9C14,7.89 13.1,7 12,7A2,2 0 0,0 10,9H8A4,4 0 0,1 12,5A4,4 0 0,1 16,9C16,9.88 15.64,10.67 15.07,11.25M13,19H11V17H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12C22,6.47 17.5,2 12,2Z" /></svg>');
}

#nav-privacy::before{
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>shield-check</title><path d="M10,17L6,13L7.41,11.59L10,14.17L16.59,7.58L18,9M12,1L3,5V11C3,16.55 6.84,21.74 12,23C17.16,21.74 21,16.55 21,11V5L12,1Z" /></svg>');
}


/* || Main */

main{
    grid-area: main;
    background-color: var(--main-bg-color);
    padding: var(--main-padding);
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-areas: 
        'projects'
        'announcements'
        'trending';
    grid-gap: var(--main-gap);
}

main>*{
    display: flex;
    flex-direction: column;
    gap: var(--main-child-hdr-gap);
}

main h2{
    font-size: var(--main-h2-fontsize);
}

.main-box{
    background-color: var(--main-box-bg-color);
    padding: var(--main-box-padding);
    border-radius: var(--radius);
    box-shadow: var(--outset-shadow);
}

.main-list{
    display: flex;
    flex-direction: column;
    gap: var(--main-list-gap);
}

.main-item{
    display: grid;
    align-items: center;
    gap: var(--main-item-gap);
    padding: var(--main-item-padding);
    border-radius: var(--radius);
}

/* -------- */

main .main-projects{
    grid-area: projects;
}

.main-projects-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(var(--main-box-project-max-width), 100%), 1fr));
    gap: var(--main-projects-gap);
}

.main-box-project.main-box{
    display: grid;
    grid-template-columns: var(--main-project-image-width) 1fr;
    grid-template-areas:
        'image item';
}

.main-box-project::before {
    grid-area: image;
    content: '';
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: var(--radius) 0 0 var(--radius);
}

.main-box-project-1::before {
    background-image: url('https://picsum.photos/200/300?random=1');
}
.main-box-project-2::before {
    background-image: url('https://picsum.photos/200/300?random=2');
}
.main-box-project-3::before {
    background-image: url('https://picsum.photos/200/300?random=3');
}
.main-box-project-4::before {
    background-image: url('https://picsum.photos/200/300?random=4');
}
.main-box-project-5::before {
    background-image: url('https://picsum.photos/200/300?random=5');
}
.main-box-project-6::before {
    background-image: url('https://picsum.photos/200/300?random=6');
}

.main-project{
    grid-area: item;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        'title'
        'description'
        'actions';
    border-radius: 0 var(--radius)var(--radius) 0;
    padding-left: var(--main-project-image-gap);
}

.main-project .title{
    grid-area: title;
    color: var(--project-title-color);
    font-size: var(--project-title-fontsize);
    font-weight: bold;
}

.main-project .description{
    grid-area: description;
    color: var(--project-description-name-color);
    font-size: var(--project-description-name-fontsize);
}

.main-project .actions{
    grid-area: actions;
    display: flex;
    justify-content: flex-end;
    gap: var(--main-project-actions-gap);
    font-size: 0;
    padding-top:  var(--main-project-actions-extra-gap-top);
}

.main-project .actions a::before{
    display: inline-block;
    content:"";
    width: var(--nav-navigation-icon-len); 
    height: var(--nav-navigation-icon-len); 
    background-size: var(--nav-navigation-icon-len) var(--nav-navigation-icon-len);
    background-color: var(--col-txt);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
}

.main-box-project:hover{
    grid-template-columns: var(--main-project-hover-image-width) 1fr;
}

.main-box-project:hover .main-project{
    background-color: var(--trending-item-hover-color);
    box-shadow: var(--inset-shadow);
}

.main-box-project:hover .main-project .title{
    color: var(--col-highlight);
}

.main-box-project .actions a:hover::before{
    background-color: var(--col-highlight);
}



.main-project .actions a.like::before{
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>star-plus-outline</title><path d="M5.8 21L7.4 14L2 9.2L9.2 8.6L12 2L14.8 8.6L22 9.2L18.8 12H18C17.3 12 16.6 12.1 15.9 12.4L18.1 10.5L13.7 10.1L12 6.1L10.3 10.1L5.9 10.5L9.2 13.4L8.2 17.7L12 15.4L12.5 15.7C12.3 16.2 12.1 16.8 12.1 17.3L5.8 21M17 14V17H14V19H17V22H19V19H22V17H19V14H17Z" /></svg>');
}

.main-project .actions a.watch::before{
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>eye-plus-outline</title><path d="M12,4.5C7,4.5 2.73,7.61 1,12C2.73,16.39 7,19.5 12,19.5C12.36,19.5 12.72,19.5 13.08,19.45C13.03,19.13 13,18.82 13,18.5C13,18.14 13.04,17.78 13.1,17.42C12.74,17.46 12.37,17.5 12,17.5C8.24,17.5 4.83,15.36 3.18,12C4.83,8.64 8.24,6.5 12,6.5C15.76,6.5 19.17,8.64 20.82,12C20.7,12.24 20.56,12.45 20.43,12.68C21.09,12.84 21.72,13.11 22.29,13.5C22.56,13 22.8,12.5 23,12C21.27,7.61 17,4.5 12,4.5M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9M18,14.5V17.5H15V19.5H18V22.5H20V19.5H23V17.5H20V14.5H18Z" /></svg>');
}

.main-project .actions a.fork::before{
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>source-fork</title><path d="M6,2A3,3 0 0,1 9,5C9,6.28 8.19,7.38 7.06,7.81C7.15,8.27 7.39,8.83 8,9.63C9,10.92 11,12.83 12,14.17C13,12.83 15,10.92 16,9.63C16.61,8.83 16.85,8.27 16.94,7.81C15.81,7.38 15,6.28 15,5A3,3 0 0,1 18,2A3,3 0 0,1 21,5C21,6.32 20.14,7.45 18.95,7.85C18.87,8.37 18.64,9 18,9.83C17,11.17 15,13.08 14,14.38C13.39,15.17 13.15,15.73 13.06,16.19C14.19,16.62 15,17.72 15,19A3,3 0 0,1 12,22A3,3 0 0,1 9,19C9,17.72 9.81,16.62 10.94,16.19C10.85,15.73 10.61,15.17 10,14.38C9,13.08 7,11.17 6,9.83C5.36,9 5.13,8.37 5.05,7.85C3.86,7.45 3,6.32 3,5A3,3 0 0,1 6,2M6,4A1,1 0 0,0 5,5A1,1 0 0,0 6,6A1,1 0 0,0 7,5A1,1 0 0,0 6,4M18,4A1,1 0 0,0 17,5A1,1 0 0,0 18,6A1,1 0 0,0 19,5A1,1 0 0,0 18,4M12,18A1,1 0 0,0 11,19A1,1 0 0,0 12,20A1,1 0 0,0 13,19A1,1 0 0,0 12,18Z" /></svg>');
}

/* -------- */

main .main-announcements{
    grid-area: announcements;
}

.main-announcements-item{
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
        'title'
        'description';
    }

.main-announcements-item .title{
    grid-area: title;
}

.main-announcements-item .description{
    grid-area: description;
}

/* -------- */

main .main-trending{
    grid-area: trending;
}

.main-trending-item{
    grid-template-rows: auto auto;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
        'avatar username'
        'avatar project-name';
}

.main-trending-item::before{
    grid-area: avatar;
    display: inline-block;
    content:"";
    width: var(--trending-avatar-icon-len); 
    height: var(--trending-avatar-icon-len); 
    background-size: var(--trending-avatar-icon-len) var(--trending-avatar-icon-len);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.main-trending-item .username{
    grid-area: username;
}

.main-trending-item .project-name{
    grid-area: project-name;
}


.main-announcements-item .title,
.main-trending-item .username{
    color: var(--trending-username-color);
    font-size: var(--trending-username-fontsize);
    font-weight: bold;
}

.main-announcements-item .description{
    color: var(--trending-project-name-color);
    font-size: var(--trending-username-fontsize);
}

.main-trending-item .project-name{
    color: var(--trending-project-name-color);
    font-size: var(--trending-project-name-fontsize);
}


.main-announcements-item:hover,
.main-announcements-item:focus,
.main-trending-item:hover,
.main-trending-item:focus{
    background-color: var(--trending-item-hover-color);
    box-shadow: var(--inset-shadow);
}

.main-announcements-item:hover .title,
.main-announcements-item:focus .title,
.main-trending-item:hover .username,
.main-trending-item:focus .username{
    color: var(--col-highlight);
}

.main-trending-item:hover .project-name,
.main-trending-item:focus .project-name{
    font-weight: bold;
}







.main-trending-item-1::before{
    background-image: url(../img/avatar_1.svg);
}

.main-trending-item-2::before{
    background-image: url(../img/avatar_2.svg);
}

.main-trending-item-3::before{
    background-image: url(../img/avatar_3.svg);
}

.main-trending-item-4::before{
    background-image: url(../img/avatar_4.svg);
}


/* --------- */

@media only screen and (min-width: 768px) {
    main{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            'projects projects'
            'announcements trending';
    }
}

@media only screen and (min-width: 1024px) {
    main{
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
            'projects announcements'
            'projects trending';
    }
}


/* || Footer */
footer {
    --light-grey: rgb(210, 210, 210);
    --black: rgb(0, 0, 0);
    --ftr-fontsize: 12px;
    --ftr-font: 'Montserrat';
    --ftr-padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--light-grey);
    color: var(--black);
    font-family: var(--ftr-font), sans-serif;
    font-size: var(--ftr-fontsize);
    font-weight: 400;
    line-height: 1.2;
    padding: var(--ftr-padding);
}

footer i {
    font-size: 1.3em;
}